*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #bde0fe;
}
h1{
    background-color: #3234ae;
    color: #fefae0;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 30%;
}
.choice:hover{
    background-color: #272aec;
    cursor: pointer;
    opacity: 0.8;
}
.scores-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    gap: 5rem;
    font-size: 2rem;
}
#user-score, #your-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #1d1f9d;
    color: #dcecfa;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;
    line-height: 5rem;
}